.text {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 22px;
  display: inline-block;
  height: 140px;
}
.textWrapper {
  position: absolute;
  width: calc(100% - 2px);
  top: 0;
  right: 2px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.boldIcon,
.italicIcon,
.strikethroughIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.italicIcon,
.strikethroughIcon {
  z-index: 1;
}
.strikethroughIcon {
  z-index: 2;
}
.frameChild {
  position: relative;
  border-right: 1px solid var(--secondary);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  z-index: 3;
}
.bulletedListIcon,
.numberedListIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.numberedListIcon {
  z-index: 5;
}
.frameItem {
  position: relative;
  border-right: 1px solid var(--secondary);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  z-index: 6;
}
.blockQuoteIcon {
  z-index: 7;
}
.blockQuoteIcon,
.codeIcon,
.plusCircleIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.codeIcon {
  z-index: 8;
}
.plusCircleIcon {
  display: none;
}
.buttonLabel {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 600;
}
.paperAirplaneIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.boldParent,
.button,
.frameParent {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.button {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 9;
}
.boldParent,
.frameParent {
  background-color: var(--white);
}
.boldParent {
  width: calc(100% - 2px);
  right: 2px;
  bottom: 2px;
  left: 0;
  border-top: 1px solid var(--secondary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--white);
}
.frameParent {
  height: calc(100% - 24px);
  width: calc(100% + 2px);
  top: 25px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--primary);
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--body-small-size);
  letter-spacing: -0.02em;
  line-height: 19px;
}
.richTextField {
  position: relative;
  border-radius: var(--br-7xs);
  width: 440px;
  height: 230px;
  text-align: left;
  font-size: var(--body-size);
  color: var(--primary);
  font-family: var(--body);
}
